# Node modules
node_modules/

# Env vars
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/ 

# Ignore roles.txt file
# This file contains the roles and responsibilities for the project team
roles.txt