doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/css/index.css")
    link(rel="stylesheet" href="/css/main.css")
    title home
  body
    h1 Discover the events in Belgium.
    p.paragraph  Welcome to the home page!
    footer
      p &copy; 2025 Event Management -- All rights reserved.